{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Revab</title>
    <meta name="description" content="Find the shortest reverse abbreviation." />
    <link rel="icon" href="{% static 'revabapp/img/favicon.svg' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'revabapp/css/styles.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'revabapp/css/settings-page.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <header>
      <h1><a href="/">Revab</a></h1>
      <div class="icons">
        <form action="/help" method="post">
            {% csrf_token %}
            <input type="hidden" name="rounds" value="{{ rounds }}">
            <input type="hidden" name="attempts_per_round" value="{{ attempts_per_round }}">
            <input type="hidden" name="abbrev_length" value="{{ abbrev_length }}">
            <input type="hidden" name="destination" value="/settings">
            <button>
                <img src="{% static 'revabapp/img/question-solid.svg' %}" alt="?">
            </button>
            </form>
        <button id="stats">
            <img src="{% static 'revabapp/img/chart-simple-solid.svg' %}" alt="stats">
        </button>
      </div>
    </header>
    <main>
      <div id="wrapper">
        <form action="/" method="post" id="start-row">
          <!-- https://stackoverflow.com/a/12174091, 
            csrf token necessary for post requests in django according to this stack overflow answer -->
          {% csrf_token %}
          <div>
            <label for="rounds">Rounds:</label>
            <input type="number" name="rounds" min="1" max="10" value="{{ rounds }}">
          </div>
          <div>
            <label for="abbrev_length">Abbreviation length:</label>
            <input type="number" name="abbrev_length" min="3" max="4" value="{{ abbrev_length }}">
          </div>
          <div>
            <label for="attempts_per_round">Attempts per round:</label>
            <input type="number" name="attempts_per_round" min="1" max="5" value="{{ attempts_per_round }}">
          </div>
          <div>
            <input type="submit" name="settings" value="Save changes" id="save" >
            <input type="submit" name="settings" value="Back to defaults" id="defaults">
          </div>
        </form>
      </div>
    </main>
  </body>
</html>