:root {
    --foreground-color: #823038;
    --background-color: #ffd633;
    --secondary-foreground-color: #c8b8db;
    --secondary-background-color: #f9f4f5;
}

body {
    font-family: "Playfair Display", "serif";
    background-color: var(--background-color);
    color: var(--foreground-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--foreground-color);
}

header button, header input[type="submit"] {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

button, input[type="submit"] {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

button, input {
    font-size: 1.5em;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h1 a {
    color: var(--background-color);
    text-decoration: none;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    width: 2em;
    height: 2em;
    margin-left: 10px;
}

.revab-letter {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--foreground-color);
    padding: 10px 20px;
    border-radius: 5px;
}

#stats {
    visibility: hidden;
}